body{
    background-color:#78e08f;
    margin: 0;
    padding: 0px;
}
.container{
    width: 232px;
    height: 200px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.ball{
    width: 100px;
    height: 100px;
    border: 6px solid #000;
    border-radius: 50%;
    background-color: white;
    position: relative;
    display: inline-block;/*令块元素变为具有行内块元素的特点表现为可以使得div处于同一行*/
}
.face-l{
    width: 70px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 30px;
}
.face-r{
    width: 70px;
    height: 30px;
    position: absolute;
    top: 30px;
}
.eye-l{
    width: 15px;
    height: 14px;
    border-bottom:5px solid #000;
    border-radius: 50%;
    position: absolute;
}
.eye-r{
    width: 15px;
    height: 14px;
    border-top:5px solid #000;
    border-radius: 50%;
    position: absolute;
}
.eye-ll{
    left: 10px;
}
.eye-lr{
    right: 5px;
}
.eye-rl{
    left: 10px;
}
.eye-rr{
    right: 5px;
}
.mouth{
    width: 30px;
    height: 14px;
    border-bottom: 5px solid #000;
    border-radius: 50%;
     position: absolute;
     margin: 0 auto;
     left: 0;
     right: 0;
     bottom: -5px;
}
.face-l::before{/*伪元素 必须有定位才能显现*/
content: '';
width: 18px;
height: 8px;
border-radius: 50%;
background-color: red;
position: absolute;
right: -8px;
top: 20px;
}
.face-l::after{/*伪元素 必须有定位才能显现*/
    content: '';
    width: 18px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left:-5px;
    top: 20px;
    
}
.face-r::before{/*伪元素 必须有定位才能显现*/
    content: '';
    width: 10px;
    height: 10px;
    border-radius:100%;
    background-color: red;
    position: absolute;
    right: 3px;
    top: 20px;
    }
    .face-r::after{/*伪元素 必须有定位才能显现*/
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: red;
        position: absolute;
        top: 20px;
    }
#l-ball{
    z-index: 2;/*设置元素层级，使得左边的小人可以覆盖在右边的小人脸上*/
    animation: close-l 4s ease infinite;/*平移4s*/
}
@keyframes close-l{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(20px);
    }
    35%{
        transform: translate(20px);
    }
    55%{
        transform: translate(0);
    }
    100%{
        transform: translate(0);
    }

}
.face-l{
    animation:face-l 4s ease infinite;
}
@keyframes face-l{
    0%{
        transform: translate(0) rotate(0);/*translate 平移 rotate旋转*/
    }
    10%{
        transform: translate(0) rotate(0);
    }
    20%{
        transform: translate(5px) rotate(2deg);
    }
    28%{
        transform: translate(0) rotate(0);
    }
    35%{
        transform: translate(5px) rotate(2deg);/*需要写清楚像素，否则没有动画*/
    }
    50%{
        transform: translate(0) rotate(0);
    }
    100%{
        transform: translate(0) rotate(0);
    }
}
.kiss-r{
    margin: 0 auto;
    position: absolute;
    left: 35px;
     right: 0;
     bottom: -5px;
     opacity: 0;
     animation: kiss-r 4s ease infinite;
}
.kiss{
    width: 13px;
    height: 10px;
    border-radius: 50%;
    border-left: 5px solid #000;
    display: block;
}
.mouth-r{
    width: 30px;
    height: 14px;
    border-bottom: 5px solid #000;
    border-radius: 50%;
     position: absolute;
     margin: 0 auto;
     left: 0;
     right: 0;
     bottom: -5px;
     animation: mouth-r 4s ease infinite;
}
#r-ball{
    animation: close-r 4s ease infinite;
}
@keyframes close-r{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(0);
    }
    70%{
        transform: translate(-45px)rotate(15deg);
    }
    85%{
        transform: translate(-45px)rotate(-10deg);
    }
    100%{
        transform: translate(0);
    }
    
}
@keyframes mouth-r{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    50.5%{
        opacity: 0;
    }
    /*70%{
        opacity: 1;
    }*/
    84.9%{
        opacity: 0;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes kiss-r{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    50.5%{
        opacity: 1;
    }
    84.9%{
        opacity: 1;
    }
    85%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}